html {
    height: 100%;
    width: 100%;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    float: right;
    background-color:rgb(55, 110, 211);
    cursor:pointer;
    padding: 6px;
    margin-bottom: 5px;
    min-height: 25px;
    min-width: 125px;
    border-radius: 10px 0px 0px 10px;
    color: black;
    text-decoration: none;
    font-size: large;
}

.button#clicked{
    background-color:rgb(120, 175, 230);
}

.button:hover{
    background-color:rgb(86, 131, 216);
    transition: all 0.5s;
}

body{
    display: flex;
    background-color: rgb(20, 20, 30);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: row;
    padding: 15px;
}

aside{
    display: flex;
    padding: 10px 3px 10px 0px;
    flex-direction: column;
    max-width: 150px;
}

main{
    height: max-content;
    padding: 35px;
    margin-top: 10px;
    width: 94.5%;
    background-color:rgb(40, 40, 70);
    color: aliceblue;
}

section{
    padding: 15px 0px 0px 37.5px;
}

@media screen and (max-width: 800px){
    body{
        flex-direction: column;
    }
    .button{
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0px;
        margin-right: 6px;
    }
    aside{
        flex-direction: row;
        padding-bottom: 0px;
    }
    main{
        margin-top: 6px;
    }
    section{
        padding: 15px 0px 0px 15px;
    }
}
