html{ 
    height: 100%;
}
body{ 
    min-height: 100%; 
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0F121F;
    color: white;
    height: 50px;
    width: 100%;
}

main{
    background-color: #21263B;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.przedmiot{
    background-color: #0F121F;
    color: white;
    font-size: large;
    border: 0px;
    width: 160px;
    border: 2px #141829 solid;
    height: 100%;
}

nav:hover .przedmiot{
    background-color: #141829;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: #191D32;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0px;
    padding: 15px;
}

nav:hover .dropdown{
    display: block;
}

.podstrona{
    background-color: #191D32;
    color: white;
    border: 0px;
    font-size: large;
    text-decoration: none;
    min-height: 40px;
    width: 100%;
}

.podstrona:hover{
    background-color: #282F44;
}


@media only screen and (hover: none) and (pointer: coarse){
    /*.show {
        display: block;
    }*/
}