html,body{
    width: 100%;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: block;
    padding: 20px 30px 80px 480px;
    background-color: rgb(40, 40, 70);
    color: aliceblue;
    height: 100%;
}

section{
    padding: 15px 0px 0px 37px;
}

menu{
    display: block;
    background-color: rgb(20, 20, 30);
    padding: 20px;
    width: 450px;
    min-height: 100%;
    float: left;
}

header{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    color: aliceblue;
    background-color: rgb(20, 20, 30);
    height: 55px;
    max-width: 100%;
}

input.open_button:hover{
    text-decoration: underline;
}

p#header{
    font-size: xx-large;
    cursor:pointer;
    padding: 3px 0px 0px 15px;
    background-color: rgb(20, 20, 30);
    color: aliceblue;
    border: 0px;
    word-break: break-all;
    word-wrap: break-word;
}

div#header{
    width: 65px;
    height: 55px;
}

.menu{
    padding: 10px 10px 10px 30px;
    margin-right: 1000px;
}

.open_button:hover{
    cursor: pointer;
}

.menu_button,
.open_button{
    padding: 3px;
    border: 0px;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    color: white;
    margin-right: 1000px;
}

@media only screen and (max-width: 1440px) {
    menu{
        display: none;
        height: 100%;
        opacity: 92.5%;
        padding: auto;
        padding-top: 55px;
        margin-top: 40px;
        width: 350px;
        position: fixed;
        top: 0;
        left: 0;
    }

    menu.active{
        display: block;
    }

    header{
        display: block;
    }

    section{
        padding-left: 15px;
    }

    main{
        padding: 80px 20px 80px 20px;
    }
}

@media only screen and (max-width: 600px){
    pre[class*="language-"],
    code[class*="language-"],
    *
    {
        font-size: 90%;
    }
}