html{ 
    height: 100%;
}
body{ 
    min-height: 100%; 
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0F121F;
    color: white;
    height: 50px;
    width: 100%;
}

main{
    background-color: #21263B;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.dropdown{
    background-color: #0F121F;
    color: white;
    font-size: large;
    border: 0px;
    width: 160px;
    border: 2px #141829 solid;
    height: 100%;
}

section:hover .dropdownbnav{
    background-color: #141829;
}

menu{
    display: none;
    position: absolute;
    background-color: #191D32;
    width: 132px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0px;
    padding: 15px;
}

section:hover menu{
    display: block;
}

.dropdown_button{
    background-color: #191D32;
    color: white;
    border: 0px;
    font-size: large;
    text-decoration: none;
    min-height: 40px;
    width: 100%;
}

.dropdown_button:hover{
    background-color: #282F44;
}