html{ 
    height: 100%;
}
body{ 
    min-height: 100%; 
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0F121F;
    color: white;
    height: 50px;
    width: 100%;
}

main{
    color: white;
    box-sizing: border-box;
    background-color: #21263B;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 80px 20px 20px 20px;
}

.download{
    display: flex;
    width: 110px;
    height: 40px;
    background-color: #191D32;
    color: white;
    border: 3px #0F121F solid;
    border-radius: 13px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.download:hover{
    background-color: #282F44;
}

.download_img{
    width: 26px; 
    padding-bottom: 2px;
    margin-right: 6px;
}

.dropdown{
    background-color: #0F121F;
    color: white;
    font-size: large;
    border: 0px;
    width: 160px;
    border: 2px #141829 solid;
    height: 100%;
}

nav:hover .dropdown{
    background-color: #111425;
}

menu{
    display: none;
    position: absolute;
    background-color: #191D32;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0px;
    padding: 15px;
}

nav:hover menu{
    display: block;
}

.dropdown_button{
    background-color: #191D32;
    color: white;
    border: 0px;
    font-size: large;
    text-decoration: none;
    min-height: 40px;
    width: 100%;
}

.dropdown_button:hover{
    background-color: #282F44;
}

@media only screen and (max-width: 600px){
    .dropdown_button{
        font-size: small;
        min-height: 30px;
    }

    .dropdown{
        font-size: small;
        width: 110px;

    }

    menu{
        width: 90px;
        padding: 10px;
    }

    pre[class*="language-"],
    code[class*="language-"]{
        font-size: 90%;
    }
}